@model IEnumerable<FrontendProject.Models.StudentEnrollmentCourse>


@{
    ViewData["Title"] = "Student Enrollment Course";
}

<h1>Student Enrollment Course</h1>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">List Student With Courses</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <p>
                <a class="btn btn-primary" asp-action="Index">Back to Student</a>
            </p>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstMidName)
                        </th>

                        <th>
                            Grade And Course
                        </th>
                
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstMidName)
                            </td>
                            <td>
                                @foreach (var enrollment in item.Enrollments)
                                {


                                    <p>
                                        @enrollment.Grade - @enrollment.Course.Title
                                        (
                                        @enrollment.Course.Credits
                                        SKS
                                        )
                                    </p>

                                   



                                }
                            </td>





                            @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>